# Copyright Steven\n
[Unit]
Description=Linted-Updater Game Updater
Documentation='man:linted.special(6)'

[Socket]
ListenMessageQueue=/updater
MessageQueueMaxMessages=1
MessageQueueMessageSize=20

X-Linted-Temporary=true
