# -*- mode: yaml -*-
BasedOnStyle: LLVM
UseTab: ForIndentation
IndentWidth: 8
ColumnLimit: 80
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Linux
