# -*- mode: yaml -*-
BasedOnStyle: LLVM
UseTab: ForIndentation
IndentWidth: 8
ColumnLimit: 72

AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

BreakBeforeBraces: Linux
