# Copyright Steven
[Unit]
Description=Linted-Log Game Log
Documentation='man:linted.special(6)'

[Socket]
ListenMessageQueue=/log
MessageQueueMaxMessages=10
MessageQueueMessageSize=1024

X-Linted-Temporary=true