# Copyright 2014 Steven Stewart-Gallus
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
[Unit]
Description=Linted-Drawer Game Renderer
Documentation='man:linted-drawer(6)'

[Service]
ExecStart="${LINTED_DRAWER}"

X-LintedFiles=OPEN:window-notifier,rdonly

NoNewPrivileges=true
X-LintedCloneFlags=CLONE_NEWUSER CLONE_NEWPID CLONE_NEWIPC CLONE_NEWNET CLONE_NEWNS

X-LintedFstab="${LINTED_DRAWER_FSTAB}"
WorkingDirectory=/var

X-LintedEnvironmentWhitelist=DISPLAY

X-LintedEnvironmentWhitelist=LD_PRELOAD
X-LintedEnvironmentWhitelist=LD_LIBRARY_PATH

X-LintedEnvironmentWhitelist=vblank_mode

X-LintedEnvironmentWhitelist=EGL_DRIVERS_PATH
X-LintedEnvironmentWhitelist=EGL_DRIVER
X-LintedEnvironmentWhitelist=EGL_PLATFORM
X-LintedEnvironmentWhitelist=EGL_LOG_LEVEL
X-LintedEnvironmentWhitelist=EGL_SOFTWARE

X-LintedEnvironmentWhitelist=LIBGL_DEBUG
X-LintedEnvironmentWhitelist=LIBGL_DRIVERS_PATH
X-LintedEnvironmentWhitelist=LIBGL_ALWAYS_INDIRECT
X-LintedEnvironmentWhitelist=LIBGL_ALWAYS_SOFTWARE
X-LintedEnvironmentWhitelist=LIBGL_NO_DRAWARRAYS
X-LintedEnvironmentWhitelist=LIBGL_SHOW_FPS

X-LintedEnvironmentWhitelist=MESA_NO_ASM
X-LintedEnvironmentWhitelist=MESA_NO_MMX
X-LintedEnvironmentWhitelist=MESA_NO_3DNOW
X-LintedEnvironmentWhitelist=MESA_NO_SSE
X-LintedEnvironmentWhitelist=MESA_DEBUG
X-LintedEnvironmentWhitelist=MESA_LOG_FILE
X-LintedEnvironmentWhitelist=MESA_TEX_PROG
X-LintedEnvironmentWhitelist=MESA_TNL_PROG
X-LintedEnvironmentWhitelist=MESA_EXTENSION_OVERRIDE
X-LintedEnvironmentWhitelist=MESA_EXTENSION_MAX_YEAR
X-LintedEnvironmentWhitelist=MESA_GL_VERSION_OVERRIDE
X-LintedEnvironmentWhitelist=MESA_GLSL_VERSION_OVERRIDE
X-LintedEnvironmentWhitelist=MESA_GLSL
X-LintedEnvironmentWhitelist=MESA_RGB_VISUAL
X-LintedEnvironmentWhitelist=MESA_CI_VISUAL
X-LintedEnvironmentWhitelist=MESA_BACK_BUFFER
X-LintedEnvironmentWhitelist=MESA_GAMMA
X-LintedEnvironmentWhitelist=MESA_XSYNC
X-LintedEnvironmentWhitelist=MESA_GLX_FORCE_CI
X-LintedEnvironmentWhitelist=MESA_GLX_FORCE_ALPHA
X-LintedEnvironmentWhitelist=MESA_GLX_DEPTH_BITS
X-LintedEnvironmentWhitelist=MESA_GLX_ALPHA_BITS

X-LintedEnvironmentWhitelist=INTEL_NO_HW
X-LintedEnvironmentWhitelist=INTEL_DEBUG

X-LintedEnvironmentWhitelist=RADEON_NO_TCL

X-LintedEnvironmentWhitelist=GALLIUM_HUD
X-LintedEnvironmentWhitelist=GALLIUM_LOG_FILE
X-LintedEnvironmentWhitelist=GALLIUM_PRINT_OPTIONS
X-LintedEnvironmentWhitelist=GALLIUM_DUMP_CPU

X-LintedEnvironmentWhitelist=TGSI_PRINT_SANITY

X-LintedEnvironmentWhitelist=DRAW_FSE
X-LintedEnvironmentWhitelist=DRAW_NO_FSE
X-LintedEnvironmentWhitelist=DRAW_USE_LLVM

X-LintedEnvironmentWhitelist=ST_DEBUG

X-LintedEnvironmentWhitelist=SOFTPIPE_DUMP_FS
X-LintedEnvironmentWhitelist=SOFTPIPE_DUMP_GS
X-LintedEnvironmentWhitelist=SOFTPIPE_NO_RAST
X-LintedEnvironmentWhitelist=SOFTPIPE_USE_LLVM

X-LintedEnvironmentWhitelist=LP_NO_RAST
X-LintedEnvironmentWhitelist=LP_DEBUG
X-LintedEnvironmentWhitelist=LP_PERF
X-LintedEnvironmentWhitelist=LP_NUM_THREADS

X-LintedEnvironmentWhitelist=SVGA_FORCE_SWTNL
X-LintedEnvironmentWhitelist=SVGA_NO_SWTNL
X-LintedEnvironmentWhitelist=SVGA_DEBUG