# Copyright 2014, 2015, 2016 Steven Stewart-Gallus
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
[Unit]
Description=Linted-Drawer Game Renderer
Documentation='man:linted-drawer(6)'

[Service]
#ExecStart="${LINTED_DRAWER}" "window" "window-notifier-drawer" "updater"

ExecStart="${LINTED_DRAWER}" "/run/window" "/run/window-notifier-drawer" "/run/updater"

LimitNOFILE=
LimitNOFILE=15

TimerSlackNSec=1

X-LintedCloneFlags=CLONE_NEWUSER CLONE_NEWCGROUP CLONE_NEWPID CLONE_NEWIPC CLONE_NEWNET CLONE_NEWNS

X-LintedFstab="${LINTED_DRAWER_FSTAB}"
WorkingDirectory=/var

PassEnvironment=LINTED_DRAWER

# The GUI needs to display localized information
PassEnvironment=LANG
PassEnvironment=LC_ALL
PassEnvironment=LC_COLLATE
PassEnvironment=LC_CTYPE
PassEnvironment=LC_MESSAGES
PassEnvironment=LC_MONETARY
PassEnvironment=LC_NUMERIC
PassEnvironment=LC_TIME
PassEnvironment=NLSPATH

PassEnvironment=XAUTHORITY
PassEnvironment=DISPLAY
PassEnvironment=XKB_DEBUG
PassEnvironment=XKB_DISABLE
PassEnvironment=XLIBBUFFERSIZE
PassEnvironment=XLIB_SKIP_ARGB_VISUALS
PassEnvironment=XVMC_VL
PassEnvironment=_XKB_OPTIONS_ENABLE

PassEnvironment=LD_PRELOAD
PassEnvironment=LD_LIBRARY_PATH

PassEnvironment=D3D9_DRIVERS_DIR
PassEnvironment=D3D9_DRIVERS_PATH
PassEnvironment=D3D_ALWAYS_SOFTWARE

PassEnvironment=DRI_PRIME

PassEnvironment=EGL_DISPLAY
PassEnvironment=EGL_DRIVER
PassEnvironment=EGL_DRIVERS_PATH
PassEnvironment=EGL_LOG_LEVEL
PassEnvironment=EGL_PLATFORM
PassEnvironment=EGL_SOFTWARE

PassEnvironment=GALLIUM_HUD_PERIOD
PassEnvironment=GALLIUM_PRINT_OPTIONS

PassEnvironment=GBM_ALWAYS_SOFTWARE
PassEnvironment=GBM_BACKEND
PassEnvironment=GBM_DRIVERS_PATH

PassEnvironment=INTEL_DEBUG
PassEnvironment=INTEL_DEVID_OVERRIDE
PassEnvironment=INTEL_FORCE_MSAA
PassEnvironment=INTEL_NO_HW

PassEnvironment=LIBGL_ALLOW_SOFTWARE
PassEnvironment=LIBGL_ALWAYS_INDIRECT
PassEnvironment=LIBGL_ALWAYS_SOFTWARE
PassEnvironment=LIBGL_DEBUG
PassEnvironment=LIBGL_DIAGNOSTIC
PassEnvironment=LIBGL_DRI3_DISABLE
PassEnvironment=LIBGL_DRIVERS_DIR
PassEnvironment=LIBGL_DRIVERS_PATH
PassEnvironment=LIBGL_DUMP_VISUALID
PassEnvironment=LIBGL_NO_DRAWARRAYS
PassEnvironment=LIBGL_PROFILE_CORE
PassEnvironment=LIBGL_SHOW_FPS

PassEnvironment=LLVM_VERIFY_MACHINEINSTRS

PassEnvironment=MESA_BACK_BUFFER
PassEnvironment=MESA_DEBUG
PassEnvironment=MESA_EXTENSION_MAX_YEAR
PassEnvironment=MESA_EXTENSION_OVERRIDE
PassEnvironment=MESA_FORCE_SSE
PassEnvironment=MESA_GAMMA
PassEnvironment=MESA_GLSL
PassEnvironment=MESA_GLSL_VERSION_OVERRIDE
PassEnvironment=MESA_GLX_ALPHA_BITS
PassEnvironment=MESA_GLX_DEPTH_BITS
PassEnvironment=MESA_GLX_FORCE_ALPHA
PassEnvironment=MESA_GLX_VISUAL_HACK
PassEnvironment=MESA_GL_VERSION_OVERRIDE
PassEnvironment=MESA_INFO
PassEnvironment=MESA_LOG_FILE
PassEnvironment=MESA_NO_3DNOW
PassEnvironment=MESA_NO_ASM
PassEnvironment=MESA_NO_CODEGEN
PassEnvironment=MESA_NO_DITHER
PassEnvironment=MESA_NO_MMX
PassEnvironment=MESA_NO_SSE
PassEnvironment=MESA_PROFILE
PassEnvironment=MESA_TEX_PROG
PassEnvironment=MESA_TNL_PROG
PassEnvironment=MESA_VERBOSE
PassEnvironment=MESA_XSYNC

PassEnvironment=NOUVEAU_MESA_DEBUG
PassEnvironment=NV50_PROG_DEBUG_NO_COLORS

PassEnvironment=OPENGL_FRAMEWORK_PATH

PassEnvironment=PERF_BUILDID_DIR

PassEnvironment=POSIXLY_CORRECT

PassEnvironment=R200_GART_CLIENT_TEXTURES
PassEnvironment=R200_NO_TCL

PassEnvironment=RADEON_DEBUG
PassEnvironment=RADEON_NO_TCL

PassEnvironment=SP_NO_RAST
PassEnvironment=SVGA_FORCE_MSAA

PassEnvironment=always_flush_batch
PassEnvironment=always_flush_cache
PassEnvironment=bar
PassEnvironment=bo_reuse
PassEnvironment=clamp_max_samples
PassEnvironment=disable_blend_func_extended
PassEnvironment=disable_derivative_optimization
PassEnvironment=disable_glsl_line_continuations
PassEnvironment=disable_throttling
PassEnvironment=force_glsl_extensions_warn
PassEnvironment=force_s3tc_enable
PassEnvironment=hiz
PassEnvironment=no_rast
PassEnvironment=shader_precompile
PassEnvironment=vblank_mode
